* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 18px;
  font-family: '微软雅黑';
  color: #333;
  background-color: #0271C0;
}
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
button,
input[type='submit'] {
  outline: none;
  border: 0;
  background-color: #f60;
  font-size: 20px;
  font-family: '微软雅黑';
  font-weight: 300;
  padding: 10px 20px;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
button:hover,
input[type='submit']:hover {
  background-color: #f80;
}
/*导航*/
.nav {
  width: 1500px;
  height: 100px;
  margin: 0 auto;
  *overflow: hidden;
  *zoom: 1;
  /* 震动 */
}
.nav ul {
  float: left;
  overflow: hidden;
}
.nav li {
  display: inline;
  float: left;
  margin-left: 40px;
  margin-top: 25px;
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px 20px;
}
.nav .edit {
  float: right;
  margin-top: 25px;
}
.nav .wrap-send {
  float: right;
  display: none;
  margin-top: 25px;
}
.nav .wrap-send .email-waring {
  color: #fff;
  margin-right: 10px;
}
.nav input[type="mail"] {
  outline: none;
  width: 230px;
  height: 32px;
  padding: 6px 12px;
  font-size: 18px;
  font-family: '微软雅黑';
  font-weight: 300;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.nav input[type="mail"]:focus {
  border: 1px solid #0b4;
  -webkit-box-shadow: 0 0 4px #00bb44;
  -moz-box-shadow: 0 0 4px #00bb44;
  -ms-box-shadow: 0 0 4px #00bb44;
  -o-box-shadow: 0 0 4px #00bb44;
  box-shadow: 0 0 4px #00bb44;
}
.nav .success {
  border: 1px solid #0b4 !important;
  -webkit-box-shadow: 0 0 4px #00bb44;
  -moz-box-shadow: 0 0 4px #00bb44;
  -ms-box-shadow: 0 0 4px #00bb44;
  -o-box-shadow: 0 0 4px #00bb44;
  box-shadow: 0 0 4px #00bb44;
}
.nav .fail {
  border: 1px solid #DD010D;
  -webkit-box-shadow: 0 0 4px #dd010d;
  -moz-box-shadow: 0 0 4px #dd010d;
  -ms-box-shadow: 0 0 4px #dd010d;
  -o-box-shadow: 0 0 4px #dd010d;
  box-shadow: 0 0 4px #dd010d;
}
@keyframes shake {
  0% {
    transform: translate(-3px, 0);
  }
  25% {
    transform: translate(3px, 0);
  }
  50% {
    transform: translate(-3px, 0);
  }
  75% {
    transform: translate(3px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes shake {
  0% {
    transform: translate(-3px, 0);
  }
  25% {
    transform: translate(3px, 0);
  }
  50% {
    transform: translate(-3px, 0);
  }
  75% {
    transform: translate(3px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
.nav .shake {
  animation: shake 0.2s ease-in;
}
.nav .send,
.nav .not-send {
  background-color: #0b4;
  padding: 10px 40px;
}
.nav .send:hover,
.nav .not-send:hover {
  background-color: #0c4;
}
.nav .send {
  margin-left: 10px;
  margin-right: 10px;
}
.nav .not-send {
  background-color: #f60;
  margin-right: 20px;
}
.nav .not-send:hover {
  background-color: #f80;
}
.nav:after {
  content: '';
  display: block;
  clear: both;
}
/*图片容器*/
.box {
  width: 1500px;
  margin: 0 auto;
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  *overflow: hidden;
  *zoom: 1;
  /*全选按钮*/
  /* 图片包裹 */
  /*图片*/
  /*选项按钮*/
}
.box-check {
  padding: 8px 20px;
  text-align: right;
  display: none;
  vertical-align: bottom;
}
.box-check label {
  position: relative;
  cursor: pointer;
  color: #ffffff;
}
.box-check input[type="checkbox"] {
  width: 20px;
  height: 20px;
  position: absolute;
  left: -30px;
  top: 2px;
  opacity: 0;
}
.box-check .mask-all {
  width: 20px;
  height: 20px;
  position: absolute;
  left: -30px;
  top: 2px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  display: block;
  border: 2px solid #ccc;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  opacity: 1;
  visibility: visible;
}
.box-check input[type="checkbox"]:hover + span {
  border: 6px solid #0b4;
  -webkit-box-shadow: 0px 0px 2px #00cc44;
  -moz-box-shadow: 0px 0px 2px #00cc44;
  -ms-box-shadow: 0px 0px 2px #00cc44;
  -o-box-shadow: 0px 0px 2px #00cc44;
  box-shadow: 0px 0px 2px #00cc44;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.box-check input[type="checkbox"]:checked + span {
  border: 6px solid #0b4;
  -webkit-box-shadow: 0px 0px 2px #00cc44;
  -moz-box-shadow: 0px 0px 2px #00cc44;
  -ms-box-shadow: 0px 0px 2px #00cc44;
  -o-box-shadow: 0px 0px 2px #00cc44;
  box-shadow: 0px 0px 2px #00cc44;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.box-img {
  width: 480px;
  height: 300px;
  float: left;
  margin: 10px;
  border: 8px solid #fff;
  color: #ffffff;
  opacity: 0;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-align: center;
  z-index: 10;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.box-img .mask-item {
  width: 100%;
  height: 100%;
  line-height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  display: block;
  font-size: 40px;
  color: #fff;
  text-align: center;
  line-height: 284px;
  z-index: 90;
}
.box-img .desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 10px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.box-img input[type='checkbox']:hover + span {
  border: 10px solid #0b4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.box-img input[type='checkbox']:checked + span {
  border: 10px solid #0b4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.3);
}
.box-img input[type='checkbox']:checked + span:after {
  content: '选中';
}
.box img {
  width: 100%;
}
.box-img > input[type='checkbox'] {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  right: 0;
  bottom: 0;
  outline: none;
  z-index: 100;
  opacity: 0;
  fliter: alpha(opacity=0);
  display: none;
}
.box:after {
  content: '';
  display: block;
  clear: both;
}
/*遮罩层*/
.cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  opacity: 0;
  z-index: 10;
}
.zoom {
  width: 900px;
  height: auto;
  position: fixed;
  top: 10%;
  left: 50%;
  padding: 20px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: none;
  opacity: 0;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  z-index: 100;
  background-color: #ffffff;
}
.zoom img {
  width: 900px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.zoom .zoom-desc {
  line-height: 1.6em;
  text-indent: 2em;
}
.zoom a {
  text-decoration: none;
  color: #f60;
}
.btn {
  width: 50px;
  height: 80px;
  font-size: 50px;
  text-align: center;
  line-height: 80px;
  position: absolute;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  top: 50%;
  margin-top: -40px;
}
.btn-prev {
  left: -100px;
}
.btn-next {
  right: -100px;
}
.btn-close {
  width: 50px;
  height: 50px;
  right: -25px;
  top: 15px;
  line-height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  font-family: 'Arial';
  font-weight: 300;
  border: 1px solid #666;
}
/* 图片发射样式 */
.shot-box {
  position: fixed;
  left: 50%;
  top: 100%;
  width: 100%;
  height: 100%;
  z-index: 10000;
}
.shot {
  width: 100px;
  height: 100px;
  position: absolute;
  margin-left: -50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.5);
}
